<!-- Validation failure messages -->
<% if @event.errors.any? %>
<% @event.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Edit - <%= @event.title %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_event/<%= @event.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Name
        </label>

        <input type="text" id="title" name="title" placeholder="Name of event" class="form-control" value="<%= @event.title %>">
      </div>

      <!-- Label and input for held_on -->
      <div class="form-group">
        <label for="held_on" class="control-label">
          Held On
        </label>

        <input type="text" id="held_on" name="held_on" placeholder="ex. May 3, 2016" class="form-control" value="<%= @event.held_on %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="ex. club, association, host, etc." class="form-control" value="<%= @event.description %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @event.location %>">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @event.notes %></textarea>
      </div>

      <!-- Label and input for user_id -->

      <input type="hidden" name="user_id" value="<%= @event.user_id %>">

      <button class="btn btn-warning">
        Update Event
      </button>
      or
      <a href="/events/<%= @event.id %>">Cancel</a>
    </form>
  </div>
</div>
